*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.main {
    width: 800px;
    background-color: lightgrey;
    max-width: 50%;
    padding: 10px;
    border-radius: 5px ;

}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#answersContainer {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin: 20px 0;
    padding-bottom: 5px;  
}

.btn {
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.wrongAnswer {
    background-color: firebrick;
}

.rightAnswer {
    background-color: green;
}

.navBtn {
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.navBtn:hover {
    border-color: lightsalmon;
    box-shadow: 5px 5px 5px lightsalmon;
}

.btn:hover {
    background-color: lightsalmon;
}

#topNavWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#navigationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 10px;

}

#questionsContainer {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

#highScoresBtn:hover {
    border-color: lightsalmon;
    box-shadow: 5px 5px 5px lightsalmon;
}
#highScoresContainer {
    margin-top: auto;
}
#timerContainer {
    margin-right: 20%;
    margin-top: auto;
}

.hide {
    display: none;
}
